.-dg--container {
  background-color: rgba(14, 94, 86, 0.2);
  border-radius: 20px;
  padding: 50px;
  margin: 50px;
}

h2,
h3 {
  font-weight: 700;
}

.-dg--list-group li {
  list-style-type: none;
  font-weight: 600;
  border: 2px solid #8fc3c4;
  background-color: #8fc3c4;
  border-radius: 20px;
  cursor: pointer;
}

.-dg--list-group li:hover {
  transform: scale(1.05);
  outline: 5px solid #8fc3c4;

  box-shadow: 13px 16px 21px -12px rgba(0, 0, 0, 0.41);
}

.-dg--btn {
  background-color: #8fc3c4;
}

.-dg--c-pointer {
  cursor: pointer;
  display: none;
  font-size: 1.4rem;
}

.-dg--c-pointer:hover {
  transform: scale(1.1);
}

.-dg--list-group li:hover .-dg--c-pointer {
  display: block;
}
